{{- $ctp := include ".chezmoitemplates/catppuccin_palette.json" | fromJson -}}
{{- $p := index $ctp . -}}
skin: {
  default: {{ template "catppuccin_rgb" (index $p "text") }} none / {{ template "catppuccin_rgb" (index $p "subtext1") }} none
  tree: {{ template "catppuccin_rgb" (index $p "pink") }} none / {{ template "catppuccin_rgb" (index $p "surface2") }} none
  parent: {{ template "catppuccin_rgb" (index $p "surface2") }} none / {{ template "catppuccin_rgb" (index $p "surface1") }} none
  file: {{ template "catppuccin_rgb" (index $p "text") }} none / {{ template "catppuccin_rgb" (index $p "subtext1") }} none
  directory: {{ template "catppuccin_rgb" (index $p "blue") }} none Bold / {{ template "catppuccin_rgb" (index $p "subtext0") }} none bold
  exe: {{ template "catppuccin_rgb" (index $p "green") }} none
  link: {{ template "catppuccin_rgb" (index $p "teal") }} none
  pruning: {{ template "catppuccin_rgb" (index $p "overlay0") }} none Italic
  perm__: {{ template "catppuccin_rgb" (index $p "surface2") }} none
  perm_r: {{ template "catppuccin_rgb" (index $p "sky") }} none
  perm_w: {{ template "catppuccin_rgb" (index $p "maroon") }} none
  perm_x: {{ template "catppuccin_rgb" (index $p "green") }} none
  owner: {{ template "catppuccin_rgb" (index $p "lavender") }} none
  group: {{ template "catppuccin_rgb" (index $p "mauve") }} none
  count: {{ template "catppuccin_rgb" (index $p "peach") }} {{ template "catppuccin_rgb" (index $p "surface2") }}
  dates: {{ template "catppuccin_rgb" (index $p "sapphire") }} none
  sparse: {{ template "catppuccin_rgb" (index $p "yellow") }} none
  content_extract: {{ template "catppuccin_rgb" (index $p "teal") }} none
  content_match: {{ template "catppuccin_rgb" (index $p "green") }} none
  device_id_major: {{ template "catppuccin_rgb" (index $p "lavender") }} none
  device_id_sep: {{ template "catppuccin_rgb" (index $p "surface2") }} none
  device_id_minor: {{ template "catppuccin_rgb" (index $p "lavender") }} none

  git_branch: {{ template "catppuccin_rgb" (index $p "pink") }} none
  git_insertions: {{ template "catppuccin_rgb" (index $p "green") }} none
  git_deletions: {{ template "catppuccin_rgb" (index $p "red") }} none
  git_status_current: {{ template "catppuccin_rgb" (index $p "subtext1") }} none
  git_status_modified: {{ template "catppuccin_rgb" (index $p "yellow") }} none
  git_status_new: {{ template "catppuccin_rgb" (index $p "sky") }} none Bold
  git_status_ignored: {{ template "catppuccin_rgb" (index $p "surface2") }} none
  git_status_conflicted: {{ template "catppuccin_rgb" (index $p "red") }} none
  git_status_other: {{ template "catppuccin_rgb" (index $p "red") }} none

  selected_line: none {{ template "catppuccin_rgb" (index $p "surface1") }} / none {{ template "catppuccin_rgb" (index $p "surface0") }}
  char_match: {{ template "catppuccin_rgb" (index $p "green") }} none Bold
  file_error: {{ template "catppuccin_rgb" (index $p "red") }} none

  flag_label: {{ template "catppuccin_rgb" (index $p "subtext1") }} none
  flag_value: {{ template "catppuccin_rgb" (index $p "pink") }} none Bold

  input: {{ template "catppuccin_rgb" (index $p "text") }} none / {{ template "catppuccin_rgb" (index $p "subtext1") }} {{ template "catppuccin_rgb" (index $p "surface2") }}

  status_error: {{ template "catppuccin_rgb" (index $p "text") }} {{ template "catppuccin_rgb" (index $p "red") }}
  status_job: {{ template "catppuccin_rgb" (index $p "yellow") }} {{ template "catppuccin_rgb" (index $p "surface1") }}
  status_normal: {{ template "catppuccin_rgb" (index $p "text") }} {{ template "catppuccin_rgb" (index $p "surface2") }}
  status_italic: {{ template "catppuccin_rgb" (index $p "pink") }} {{ template "catppuccin_rgb" (index $p "surface2") }} Italic
  status_bold: {{ template "catppuccin_rgb" (index $p "pink") }} {{ template "catppuccin_rgb" (index $p "surface2") }} Bold
  status_code: {{ template "catppuccin_rgb" (index $p "rosewater") }} {{ template "catppuccin_rgb" (index $p "surface2") }}
  status_ellipsis: {{ template "catppuccin_rgb" (index $p "subtext1") }} {{ template "catppuccin_rgb" (index $p "surface1") }}
}
