"{{ .chezmoi.homeDir }}/.local/share/zellij/plugins/zjstatus.wasm" {
    ChangeApplicationState
    ReadApplicationState
    RunCommands
}
"zjstatus" {
    ChangeApplicationState
    ReadApplicationState
    RunCommands
}
"file:{{ .chezmoi.homeDir }}/.local/share/zellij/plugins/zjstatus.wasm" {
    ChangeApplicationState
    ReadApplicationState
    RunCommands
}
