{{- $ctp := include ".chezmoitemplates/catppuccin_palette.json" | fromJson -}}
{{- $latte := index $ctp "latte" -}}
{{- $frappe := index $ctp "frappe" -}}
[delta "catppuccin-latte-pink"]
    blame-palette = "{{ index $latte "base" }} {{ index $latte "mantle" }} {{ index $latte "crust" }} {{ index $latte "surface0" }} {{ index $latte "surface1" }}"
    commit-decoration-style = "{{ index $latte "overlay0" }}" bold box ul
    light = true
    file-decoration-style = "{{ index $latte "overlay0" }}"
    file-style = "{{ index $latte "text" }}"
    hunk-header-decoration-style = "{{ index $latte "overlay0" }}" box ul
    hunk-header-file-style = bold
    hunk-header-line-number-style = bold "{{ index $latte "subtext0" }}"
    hunk-header-style = file line-number syntax
    line-numbers-left-style = "{{ index $latte "overlay0" }}"
    line-numbers-minus-style = bold "{{ index $latte "red" }}"
    line-numbers-plus-style = bold "{{ index $latte "green" }}"
    line-numbers-right-style = "{{ index $latte "overlay0" }}"
    line-numbers-zero-style = "{{ index $latte "overlay0" }}"
    minus-emph-style = bold syntax "{{ index $latte "red" }}"
    minus-style = syntax "{{ index $latte "maroon" }}"
    plus-emph-style = bold syntax "{{ index $latte "green" }}"
    plus-style = syntax "{{ index $latte "teal" }}"
    syntax-theme = Catppuccin Latte

[delta "catppuccin-frappe-pink"]
    blame-palette = "{{ index $frappe "base" }} {{ index $frappe "mantle" }} {{ index $frappe "crust" }} {{ index $frappe "surface0" }} {{ index $frappe "surface1" }}"
    commit-decoration-style = "{{ index $frappe "overlay0" }}" bold box ul
    dark = true
    file-decoration-style = "{{ index $frappe "overlay0" }}"
    file-style = "{{ index $frappe "text" }}"
    hunk-header-decoration-style = "{{ index $frappe "overlay0" }}" box ul
    hunk-header-file-style = bold
    hunk-header-line-number-style = bold "{{ index $frappe "subtext0" }}"
    hunk-header-style = file line-number syntax
    line-numbers-left-style = "{{ index $frappe "overlay0" }}"
    line-numbers-minus-style = bold "{{ index $frappe "red" }}"
    line-numbers-plus-style = bold "{{ index $frappe "green" }}"
    line-numbers-right-style = "{{ index $frappe "overlay0" }}"
    line-numbers-zero-style = "{{ index $frappe "overlay0" }}"
    minus-emph-style = bold syntax "{{ index $frappe "red" }}"
    minus-style = syntax "{{ index $frappe "maroon" }}"
    plus-emph-style = bold syntax "{{ index $frappe "green" }}"
    plus-style = syntax "{{ index $frappe "teal" }}"
    syntax-theme = Catppuccin Frappe
